<template>
    <div class="sectiontitle">Details</div>

    <!-- DETAILS: Description -->
    <cdx-label optional-flag="(optional)">Description</cdx-label>
    <cdx-text-area v-model="description" />

    <!-- DETAILS: Team -->
    <cdx-field>
        <cdx-select
            v-model:selected="owner"
            :menu-items="ownerMenuItems"
            default-label="Select a team..."
        />
        <template #label>
            Team
        </template>
        <template #description>
            Which team owns the instrumentation?
        </template>
    </cdx-field>

    <!-- DETAILS: Purpose -->
    <cdx-field>
        <cdx-select
            v-model:selected="purpose"
            :menu-items="purposeMenuItems"
            default-label="Select a purpose..."
        />
        <template #label>
            Purpose
        </template>
        <template #description>
            What OKR or initiative does this support?
        </template>
    </cdx-field>

</template>
  
<script setup>
import { CdxField, CdxLabel, CdxTextArea, CdxSelect } from '@wikimedia/codex';

const description = defineModel('description');
const owner = defineModel('owner');
const purpose = defineModel('purpose');

const ownerMenuItems = [
    { label: 'Team A', value: 'a' },
    { label: 'Team B', value: 'b' }
];
const purposeMenuItems = [
    { label: 'Purpose A', value: 'a' },
    { label: 'Purpose B', value: 'b' }
];
</script>
