<template>
<div class="sectiontitle">Location and Duration</div>

<!-- LOCATION and DURATION: Location -->
<cdx-field>
    <cdx-text-input v-model="location" />
    <template #label>
        Location
    </template>
    <template #description>
        On which wiki environments will the instrument take place?
    </template>
</cdx-field>

<!-- LOCATION and DURATION: Duration -->
<cdx-field>
    <template #label>
        Duration
    </template>
    <template #description>
        What is the designated time frame for the telemetry to be conducted?
    </template>
    <div class="field-group">
        <div class="column-2">
            <div class="column">
                <cdx-field>
                    <cdx-text-input v-model="durationAmount" />
                    <template #description>
                        Amount
                    </template>
                </cdx-field>
            </div>
            <div class="column right">
                <cdx-field>
                    <cdx-select
                        v-model:selected="durationTime"
                        :menu-items="durationTimeMenuItems"
                        default-label="Weeks"
                    />
                    <template #description>
                        Time
                    </template>
                </cdx-field>
            </div>
        </div>
        <div class="clearfix"></div>
        <cdx-field>
            <cdx-text-input v-model="startDate" input-type="date" />
            <template #description>
                From date
            </template>
        </cdx-field>
    </div>
</cdx-field>
<cdx-message type="warning">
    <p>When A/B tests are run concurrently, there is a level of risk of contamination of results. Depending on the outcomes that are measured and the specifics of the interventions, concurrent A/B tests may make it harder to accurately measure the impact of a specific intervention.</p>
</cdx-message>
</template>

<script setup>
import { CdxField, CdxTextInput, CdxMessage, CdxSelect } from '@wikimedia/codex';

const location = defineModel('location');
const durationAmount = defineModel('durationAmount');
const durationTime = defineModel('durationTime');
const startDate = defineModel('startDate');

const durationTimeMenuItems = [
    { label: 'Days', value: 'days' },
    { label: 'Weeks', value: 'weeks' }
];
</script>
