<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { CdxField, CdxTextInput, CdxButton } from '@wikimedia/codex';

const router = useRouter()
const username = ref( '' );
const password = ref( '' );

function goToCatalog() {
    router.push('/list')
}
</script>

<template>
  <h2>Login</h2>
  <cdx-field>
      <cdx-text-input v-model="username" />
      <template #label>
          Username
      </template>
  </cdx-field>
  <cdx-field>
      <cdx-text-input v-model="password" />
      <template #label>
          Password
      </template>
  </cdx-field>
  <cdx-button action="progressive" weight="primary" @click="goToCatalog">
      Submit
  </cdx-button>
</template>
